venv
.idea
.venv
.cursor
.vscode
db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyz
*.pywz
*.pyzw
*.pyzwz
.env
.DS_Store
